.rightside-container {
  background-color: #fff;
  width: 100%;
  height: 96.5vh;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.top-container {
  margin-bottom: 13rem;
}

.question-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: #F9F8FA;
  border-radius: 0.5rem;
  padding: 1rem;
}


.question {
  color: #3F3767;
  font-size: 20px;
  font-weight: 600;
}

.label {
  color: #3F3767;
  font-size: 18px;
  font-weight: 600;
}

.search-container {
  width: 97%;
  padding: 1.2rem;
  border-radius: 2.5rem;
  border: 2px solid #3F3767;
  align-items: center;
  margin-bottom: 3rem;
}

.search-icon {
  width: 18px;
  height: 18px;
  margin-right: 0.7rem;
}

.search {
  color: #A8A5BA;
  font-size: 18px;
  font-weight: 600;
  border: none;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #F6F5F8;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: #E0CDFF;
  cursor: pointer;
}

.button-icon {}

.button-text {
  color: #3F3767;
  font-size: 18px;
  font-weight: 700;
}


.button-continue {
  padding-left: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 3rem;
  background-color: #E9E8ED;
  border-radius: 3rem;
}

.button-continue:hover {
  background-color: #231A50;
  cursor: pointer;

  .button-continue-text {
    color: #fff;
  }
}

.button-continue-text {
  color: #BDBACA;
  font-size: 18px;
  font-weight: 700;
}

.button-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: -1.3rem;
}

.button-back:hover {
  cursor: pointer;

  .button-back-icon {
    background-color: #231A50;
  }

  .button-back-text {
    color: #231A50;
  }
}

.button-back-icon {
  background-color: #E9E8ED;
  padding: 0.7rem;
  border-radius: 2rem;
}

.button-back-text {
  color: #E9E8ED;
  font-size: 18px;
  font-weight: 700;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}