.rightside-container {
  background-color: #fff;
  width: 100%;
  height: 96.5vh;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 3.4rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: #f9f8fa;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 5px;
}

.question {
  color: #3f3767;
  font-size: 20px;
  font-weight: 500;
}

.label {
  color: #3f3767;
  font-size: 18px;
  font-weight: 500;
}

.search-container {
  padding: 1.2rem;
  border-radius: 2.5rem;
  border: 2px solid #3f3767;
  align-items: center;
  margin-bottom: 3rem;
  display: flex;
}

.search-icon {
  width: 18px;
  height: 18px;
  margin-right: 0.7rem;
}

.search {
  color: #a8a5ba;
  font-size: 18px;
  font-weight: 600;
  border: none;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f6f5f8;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: #e0cdff;
  cursor: pointer;
}

.button-text {
  color: #3f3767;
  font-size: 18px;
  font-weight: 700;
}

.button-continue {
  padding-left: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 3rem;
  background-color: #e9e8ed;
  border-radius: 3rem;
}

.button-continue:hover {
  background-color: #231a50;
  cursor: pointer;

  .button-continue-text {
    color: #fff;
  }
}

.button-continue-text {
  color: #bdbaca;
  font-size: 18px;
  font-weight: 700;
}

.button-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: -1.3rem;
}

.button-back:hover {
  cursor: pointer;

  .button-back-icon {
    background-color: #231a50;
  }

  .button-back-text {
    color: #231a50;
  }
}

.button-back-icon {
  background-color: #e9e8ed;
  padding: 0.7rem;
  border-radius: 2rem;
}

.button-back-text {
  color: #e9e8ed;
  font-size: 18px;
  font-weight: 700;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.search {
  width: 100%;
  &::placeholder {
    color: #918da8;
    font-weight: 500;
    opacity: 0.9;
  }

  &:focus {
    outline: none;
  }
}

.block-image-left-side {
  display: flex;
}

.tooltip {
  transition: 1s;
  display: flex;
  align-items: center;
  white-space: pre;
  background: #fff;
  border-radius: 25px 25px 25px 0;
  padding: 6px 16px;
  font-size: 0.9rem;
  color: #231a50;
  margin: -15px 6px 0;
  display: flex;
  align-items: center;
  gap: 5px;

  p {
    margin: 0px;
  }

  img {
    width: 18px;
    height: 18px;
  }
}
