// Definição das variáveis de cores
$container-bg-color: #bebebe;
$header-footer-bg-color: #333;
$header-footer-text-color: #fff;
$navigation-bg-color: #f8f8f8;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: $container-bg-color;
}

.header,
.footer {
  background-color: $header-footer-bg-color;
  color: $header-footer-text-color;
  padding: 20px;
  text-align: center;
}

.navigation {
  background-color: $navigation-bg-color;
  padding: 10px;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;

    li {
      cursor: pointer;
    }
  }
}

.main {
  padding: 20px;

  .about,
  .contact {
    margin-bottom: 20px;
  }
}

.logo-template {
  width: 200px;
  height: auto;
}