@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;

 
}

.template-rightside-container {
  background-image: url('../../../../public/images/back-right.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 25%;
  height: 100vh;
  padding-top: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.real-top-container {
  overflow: auto;
  scrollbar-color: #888888 #f4f4f4;
}

.real-top-container::-webkit-scrollbar {
  width: 6px;
}

.real-top-container::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

.real-top-container::-webkit-scrollbar-thumb {
  background-color: #888888;
}

.while-typing {
  display: flex;
  align-items: center;
  opacity: 0; // Inicialmente invisível
  animation: loading 2s forwards;
  gap: 5px;

  P {
    font-style: normal;
    color: rgba(255, 255, 255, 0.651);
    font-weight: 500;
    font-feature-settings: 'salt' on;
    font-size: 0.8rem;
  }
}

.second-block-right-side-container {
  opacity: 0; // Inicialmente invisível
  animation: fadeIn 2s forwards;
}

.label {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.block-image-left-side {
  display: flex;
}

.template-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
}

.template-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #ffffff3b;
  border-radius: 0.5rem;

  &.clicked {
    background-color: #f77f00;
  }
}

.template-button:hover {
  background-color: #f77f00;
  cursor: pointer;
}

.font-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  background-color: #ffffff3b;
  border-radius: 0.5rem;

  &.clicked {
    background-color: #f77f00;
  }
}

.font-button:hover {
  background-color: #f77f00;
  cursor: pointer;
}

.pallette {
  width: 80%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.template-label {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding-top: 1.5rem;
  margin-bottom: -0.1rem;
  padding-left: 0.5rem;
}

.font-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

// Styles

.template-label {
  padding-top: 1.5rem;
  margin-bottom: 10px;
  padding-left: 0.5rem;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.style-h2 {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: right;
  margin-left: 15px;
  color: #ffffff;
}

.template-button-versao {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6.77838px);
  border-radius: 9.43079px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  .button-text-versao {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #ffffff;
  }

  &.clicked {
    background: #f77f00;
    backdrop-filter: blur(6.77838px);
    border-radius: 9.43079px;
  }

  &:hover {
    cursor: pointer;
    background: #f77f00;
    backdrop-filter: blur(6.77838px);
    border-radius: 9.43079px;
  }
}

.template-button-cores {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6.77838px);
  border-radius: 9.43079px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;

  &.clicked {
    background: #f77f00;
    backdrop-filter: blur(6.77838px);
    border-radius: 9.43079px;
  }

  &:hover {
    cursor: pointer;
    background: #f77f00;
    backdrop-filter: blur(6.77838px);
    border-radius: 9.43079px;
  }

  .button-text-versao {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
}

.font-button-fonte {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6.77838px);
  border-radius: 9.43079px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  align-items: start;

  .font-text {
    margin-left: 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    text-align: start;
    align-items: start;
    flex-direction: column;
    color: #ffffff;

    .text-menor {
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
    }
  }

  &.clicked {
    background: #f77f00;
    backdrop-filter: blur(6.77838px);
    border-radius: 9.43079px;
  }

  &:hover {
    cursor: pointer;
    background: #f77f00;
    backdrop-filter: blur(6.77838px);
    border-radius: 9.43079px;
  }

  .button-text-versao {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
}

.nav-container-donw {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.button-back-donw {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;

  .button-back-icon-donw {
    width: 30px;
    height: 30px;
  }

  .button-back-text-donw {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    /* identical to box height, or 156% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
  }
}

.button-continue-donw {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px 58px;
  gap: 8px;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10.479px);
  border-radius: 16px;

  &:hover {
    cursor: pointer;
    background: #f77f00;
  }

  .button-continue-text-donw {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

.template-buttons-container-h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
@media (max-width: 1200px) {
  .template-rightside-container {
    display: none;
  }
}
@media (max-width: 2500px) {
  .template-rightside-container {
    padding-top: 0.7rem;

    .style-h2 {
      font-size: 16px;
    }

    .template-buttons-container-h2 {
      img {
        height: 30px;
        width: 35px;
      }
    }

    .template-label {
      color: #ffffff;
      font-size: 16px;

      padding-top: 0.1rem;
    }
    .template-button-versao {
      height: 30px;

      justify-content: center;

      padding-top: 0.1rem;
      padding-bottom: 0.1rem;

      .button-text-versao {
        font-size: 13px;
      }
    }
    .template-buttons-container {
      gap: 1rem;
      margin-bottom: 0.4rem;
      padding-top: 0.4rem;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .template-button-cores {
      width: 100%;
      height: 50px;
    }

    .font-button-fonte {
      width: 100%;
      height: 60px;
      padding-left: 10px;

      padding-top: 0rem;
      padding-bottom: 0rem;

      .font-text {
        width: 100%;
        height: 45px;
        margin-left: 1px;
        font-size: 14px;

        .text-menor {
          font-size: 10px;
          font-family: 'Poppins', sans-serif;
        }
      }
    }

    .nav-container-donw {
      width: 95%;
      font-size: 14px;
      margin-bottom: 40px;
    }

    .button-back-donw {
      width: 30%;
      font-size: 14px;

      .button-back-icon-donw {
        width: 25px;
        height: 25px;
        padding: 1px;
        font-size: 14px;
        border-radius: 30px;
        &:hover {
          cursor: pointer;
          background: #f77f00;
        }
      }
    }

    .button-continue-donw {
      padding: 25px 50px;

      height: 1px;

      &:hover {
        cursor: pointer;
        background: #f77f00;
      }

      .button-continue-text-donw {
        font-size: 14px;
      }
    }
  }
}


.template-rightside-container {
  display: none;
 
}





.template-rightside-container.open {
  display: flex;



  @media (max-width: 1200px ) {
    height: 101vh;
    width: 40vw;
    z-index: 999;
    position: fixed;
  
    
 
  }

  @media (max-width: 768px) {
    width: 60vw;
    z-index: 999;
    position: fixed;
    
 
  }
  @media (max-width: 500px) {
    width: 75vw;
    z-index: 999;
    position: fixed;
    
 
  }
 }


 
 @media (max-width: 1200px ) {
  .buttonContainer{
    position: absolute;
    z-index: 999;
    width: 50px;
    display: flex;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    right: 0.5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-direction: column;
   
     img{
      color: white;
      background-color: transparent !important;
      width: 30px;
      height:30px;
      object-fit: contain;
      padding: 5px;
     
     }

     
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  
    border-radius: 50%;
    background: #f77f00;
    border: none;
    color: white;
  }
   
  }
  
  

}




@media (min-width: 1200px ) {
  .buttonContainer {
    display: none;
  }
}


