@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.template-rightside-container {

  background-image: url('../../../../public/images/back-right.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 25%;
  height: 96.5vh;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px 0px 0px 0px;
}

.real-top-container {
  overflow: auto;
  scrollbar-color: #888888 #f4f4f4;
}

.real-top-container::-webkit-scrollbar {
  width: 6px;
}

.real-top-container::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

.real-top-container::-webkit-scrollbar-thumb {
  background-color: #888888;
}

.question-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: #f9f8fa;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 5px;

  opacity: 0; // Inicialmente invisível
  animation: fadeIn 2s forwards;
}

.while-typing {
  display: flex;
  align-items: center;
  opacity: 0; // Inicialmente invisível
  animation: loading 2s forwards;
  gap: 5px;

  P {
    font-style: normal;
    color: rgba(255, 255, 255, 0.651);
    font-weight: 500;
    font-feature-settings: 'salt' on;
    font-size: 0.8rem;
  }
}

.second-block-right-side-container {
  opacity: 0; // Inicialmente invisível
  animation: fadeIn 2s forwards;
}

.question {
  color: #3f3767;
  font-size: 20px;
  font-weight: 500;
  border-right: 0.15em solid #3f3767; // cursor
  white-space: nowrap; // evita quebras de linha
  overflow: hidden; // assegura que o conteúdo seja escondido até ser revelado
  width: 0; // inicialmente o conteúdo é completamente escondido

  animation: blink 5s,
    // cursor piscando
    typing 6s steps(40, end) forwards 2s; // digitação começa após 1 segundo
}

.label {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.search-container {
  padding: 1.2rem;
  border-radius: 2.5rem;
  border: 2px solid #3f3767;
  align-items: center;
  margin-bottom: 3rem;
  display: flex;
}

.search-icon {
  width: 18px;
  height: 18px;
  margin-right: 0.7rem;
}

.search {
  color: #a8a5ba;
  font-size: 18px;
  font-weight: 600;
  border: none;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f6f5f8;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: #cddeff;
  cursor: pointer;
}

.button-text {
  color: #3f3767;
  font-size: 18px;
  font-weight: 700;
}

.button-continue {
  padding-left: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 3rem;
  background-color: #e9e8ed;
  border-radius: 3rem;
}

.button-continue:hover {
  background-color: #231a50;
  cursor: pointer;

  .button-continue-text {
    color: #fff;
  }
}

.button-continue-text {
  color: #bdbaca;
  font-size: 18px;
  font-weight: 700;
}

.button-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: -1.3rem;
}

.button-back:hover {
  cursor: pointer;

  .button-back-icon {
    background-color: #231a50;
  }

  .button-back-text {
    color: #231a50;
  }
}

.button-back-icon {
  background-color: #e9e8ed;
  padding: 0.7rem;
  border-radius: 2rem;
}

.button-back-text {
  color: #e9e8ed;
  font-size: 18px;
  font-weight: 700;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.search {
  width: 100%;

  &::placeholder {
    color: #918da8;
    font-weight: 500;
    opacity: 0.9;
  }

  &:focus {
    outline: none;
  }
}

.block-image-left-side {
  display: flex;
}

.tooltip {
  &.style-one {
    transition: 1s;
    display: flex;
    align-items: center;
    white-space: pre;
    background: #fff;
    border-radius: 25px 25px 25px 0;
    padding: 6px 16px;
    font-size: 0.9rem;
    color: #231a50;
    margin: -15px 6px 0;
    display: flex;
    align-items: center;
    gap: 5px;

    p {
      margin: 0px;
    }

    img {
      width: 18px;
      height: 18px;
    }
  }

  &.style.two {
    display: none;
  }

  &.style-tree {
    display: none;
  }

  &.style-four {
    display: none;
  }

  &.style-five {
    display: none;
  }

  &.style-six {
    display: none;
  }

  &.style-seven {
    display: none;
  }
}

.tooltip-two {
  &.style-one {
    display: none;
  }

  &.style.two {
    transition: 1s;
    display: flex;
    align-items: center;
    white-space: pre;
    background: #fff;
    border-radius: 25px 25px 25px 0;
    padding: 6px 16px;
    font-size: 0.9rem;
    color: #231a50;
    margin: -15px 6px 0;
    display: flex;
    align-items: center;
    gap: 5px;

    p {
      margin: 0px;
    }

    img {
      width: 18px;
      height: 18px;
    }
  }

  &.style-tree {
    display: none;
  }

  &.style-four {
    display: none;
  }

  &.style-five {
    display: none;
  }

  &.style-six {
    display: none;
  }

  &.style-seven {
    display: none;
  }
}

.tooltip-tree {
  &.style-one {
    display: none;
  }

  &.style-two {
    display: none;
  }

  &.style-tree {
    transition: 1s;
    display: flex;
    align-items: center;
    white-space: pre;
    background: #fff;
    border-radius: 25px 25px 25px 0;
    padding: 6px 16px;
    font-size: 0.9rem;
    color: #231a50;
    margin: -15px 6px 0;
    display: flex;
    align-items: center;
    gap: 5px;

    p {
      margin: 0px;
    }

    img {
      width: 18px;
      height: 18px;
    }
  }

  &.style-four {
    display: none;
  }

  &.style-five {
    display: none;
  }

  &.style-six {
    display: none;
  }

  &.style-seven {
    display: none;
  }
}

.tooltip-four {
  &.style-one {
    display: none;
  }

  &.style-two {
    display: none;
  }

  &.style-tree {
    display: none;
  }

  &.style-four {
    transition: 1s;
    display: flex;
    align-items: center;
    white-space: pre;
    background: #fff;
    border-radius: 25px 25px 25px 0;
    padding: 6px 16px;
    font-size: 0.9rem;
    color: #231a50;
    margin: -15px 6px 0;
    display: flex;
    align-items: center;
    gap: 5px;

    p {
      margin: 0px;
    }

    img {
      width: 18px;
      height: 18px;
    }
  }

  &.style-five {
    display: none;
  }

  &.style-six {
    display: none;
  }

  &.style-seven {
    display: none;
  }
}

.tooltip-five {
  &.style-one {
    display: none;
  }

  &.style-two {
    display: none;
  }

  &.style-tree {
    display: none;
  }

  &.style-four {
    display: none;
  }

  &.style-five {
    transition: 1s;
    display: flex;
    align-items: center;
    white-space: pre;
    background: #fff;
    border-radius: 25px 25px 25px 0;
    padding: 6px 16px;
    font-size: 0.9rem;
    color: #231a50;
    margin: -15px 6px 0;
    display: flex;
    align-items: center;
    gap: 5px;

    p {
      margin: 0px;
    }

    img {
      width: 18px;
      height: 18px;
    }
  }

  &.style-six {
    display: none;
  }

  &.style-seven {
    display: none;
  }
}

.tooltip-six {
  &.style-one {
    display: none;
  }

  &.style-two {
    display: none;
  }

  &.style-tree {
    display: none;
  }

  &.style-four {
    display: none;
  }

  &.style-five {
    display: none;
  }

  &.style-six {
    transition: 1s;
    display: flex;
    align-items: center;
    white-space: pre;
    background: #fff;
    border-radius: 25px 25px 25px 0;
    padding: 6px 16px;
    font-size: 0.9rem;
    color: #231a50;
    margin: -15px 6px 0;
    display: flex;
    align-items: center;
    gap: 5px;

    p {
      margin: 0px;
    }

    img {
      width: 18px;
      height: 18px;
    }
  }

  &.style-seven {
    display: none;
  }
}

.tooltip-seven {
  &.style-one {
    display: none;
  }

  &.style-two {
    display: none;
  }

  &.style-tree {
    display: none;
  }

  &.style-four {
    display: none;
  }

  &.style-five {
    display: none;
  }

  &.style-six {
    display: none;
  }

  &.style-seven {
    transition: 1s;
    display: flex;
    align-items: center;
    white-space: pre;
    background: #fff;
    border-radius: 25px 25px 25px 0;
    padding: 6px 16px;
    font-size: 0.9rem;
    color: #231a50;
    margin: -15px 6px 0;
    display: flex;
    align-items: center;
    gap: 5px;

    p {
      margin: 0px;
    }

    img {
      width: 18px;
      height: 18px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes typing {
  20% {
    width: 0;
    border-right-color: #3f3767; // mantém o cursor visível até 20% da animação
  }

  21% {
    border-right-color: transparent; // faz o cursor desaparecer
  }

  100% {
    width: 100%;
    border-right-color: transparent; // garante que o cursor permaneça oculto após a animação
  }
}

@keyframes blink {

  0%,
  100% {
    border-color: transparent;
  }
}

.template-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
}

.button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f6f5f8;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: #cddeff;
  cursor: pointer;
}

.normal-button {
  &.clicked {
    background-color: #fff;
    border: 2px solid #231a50;
  }
}

.template-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #ffffff3b;
  border-radius: 0.5rem;

  &.clicked {
    background-color: #F77F00;

  }
}

.template-button:hover {
  background-color: #F77F00;
  cursor: pointer;
}

.font-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  background-color: #ffffff3b;
  border-radius: 0.5rem;

  &.clicked {
    background-color: #F77F00;
  }
}

.font-button:hover {
  background-color: #F77F00;
  cursor: pointer;
}

.pallette {
  width: 80%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.template-label {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding-top: 1.5rem;
  margin-bottom: -0.1rem;
  padding-left: 0.5rem;
}

.button-text {
  color: #3f3767;
  font-size: 18px;
  font-weight: 700;
}

.font-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

.button-continue {
  padding-left: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 3rem;
  background-color: #e9e8ed;
  border-radius: 3rem;
  margin-bottom: 0.5rem;
}

.button-continue:hover {
  background-color: #231a50;
  cursor: pointer;

  .button-continue-text {
    color: #fff;
  }
}

.button-continue-text {
  color: #bdbaca;
  font-size: 18px;
  font-weight: 700;
}

.button-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: -1.3rem;
  margin-left: 0.5rem;

  &.active {
    .button-back-icon {
      background-color: #231a50;
    }

    .button-back-text {
      color: #231a50;
    }
  }
}

.button-back:hover {
  cursor: pointer;

  .button-back-icon {
    background-color: #231a50;
  }

  .button-back-text {
    color: #231a50;
  }
}

.button-back-icon {
  background-color: #e9e8ed;
  padding: 0.7rem;
  border-radius: 2rem;
}

.button-back-text {
  color: #e9e8ed;
  font-size: 18px;
  font-weight: 700;
}



// Styles

.template-label {
  padding-top: 1.5rem;
  margin-bottom: 10px;
  padding-left: 0.5rem;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.style-h2 {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: right;
  margin-left: 15px;
  color: #ffffff;
}

.template-button-versao {
  width: 100%;
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6.77838px);
  border-radius: 9.43079px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;

  .button-text-versao {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #ffffff;
  }

  &.clicked {
    background: #f77f00;
    backdrop-filter: blur(6.77838px);
    border-radius: 9.43079px;
  }
  &:hover {
    cursor: pointer;
    background: #f77f00;
    backdrop-filter: blur(6.77838px);
    border-radius: 9.43079px;
  }
}

.template-button-cores {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6.77838px);
  border-radius: 9.43079px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;

  &.clicked {
    background: #f77f00;
    backdrop-filter: blur(6.77838px);
    border-radius: 9.43079px;
  }

  &:hover {
    cursor: pointer;
    background: #f77f00;
    backdrop-filter: blur(6.77838px);
    border-radius: 9.43079px;
  }

  .button-text-versao {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
}

.font-button-fonte {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6.77838px);
  border-radius: 9.43079px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  align-items: start;

  .font-text {
    margin-left: 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    text-align: start;
    align-items: start;
    flex-direction: column;
    color: #ffffff;

    .text-menor {
      font-size: 10px;
      font-family: 'Poppins', sans-serif;
    }
  }

  &.clicked {
    background: #f77f00;
    backdrop-filter: blur(6.77838px);
    border-radius: 9.43079px;
  }

  &:hover {
    cursor: pointer;
    background: #f77f00;
    backdrop-filter: blur(6.77838px);
    border-radius: 9.43079px;
  }

  .button-text-versao {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
}

.nav-container-donw {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

}

.button-back-donw {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  .button-back-icon-donw {
    width: 30px;
    height: 30px;
  }

  .button-back-text-donw {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 14px; /* identical to box height, or 156% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
  }
}
.button-continue-donw {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px 58px;
  gap: 8px;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10.479px);
  border-radius: 16px;
 

  &:hover {
    cursor: pointer;
    background: #f77f00;
  }
  .button-continue-text-donw {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

.button-continue {
  padding-left: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px 58px;
  gap: 8px;
  width: 30%;
  height: 25px;

 
  border-radius: 16px;

  .button-continue-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
.template-buttons-container-h2 {
  display: flex;

  align-items: center;
  gap: 1rem;

  padding-right: 1.5rem;
  padding-left: 0.5rem;
}