@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.container-edit {
  background-image: url('../../../../public/images/back-right.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 25%;
  height: 100vh;
  padding-top: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1050;
  box-shadow: -9px 1px 12px -4px rgba(115, 115, 115, 1);
  -webkit-box-shadow: -9px 1px 12px -4px rgba(115, 115, 115, 1);
  -moz-box-shadow: -9px 1px 12px -4px rgba(115, 115, 115, 1);
  border-left: 2px solid rgba(255, 255, 255, 0.732);
  border-radius: 0px;

  button {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6.77838px);
    border-radius: 9.43079px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #ffffff;
    border: none;

    &:hover {
      cursor: pointer;
      background: #f77f00;
      backdrop-filter: blur(6.77838px);
      border-radius: 9.43079px;
    }
  }
}

.openModal {
  width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;

  .scrolY {
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    width: auto;
    height: auto;
    max-height: auto;
    overflow-y: auto;
    margin-bottom: 20px;
  }

  .scrolY::-webkit-scrollbar {
    width: 0;
  }

  .scrolY::-webkit-scrollbar-track {
    background-color: #f4f4f469;
  }

  .scrolY::-webkit-scrollbar-thumb {
    background-color: #888888;
  }

  #textarea::-webkit-scrollbar {
    width: 0%;
  }

  #textarea::-webkit-scrollbar-track {
    background-color: #f4f4f469;
  }

  #textarea::-webkit-scrollbar-thumb {
    background-color: #888888;
  }

  .container-secao01,
  .container-secao02,
  .container-secao03,
  .container-secao04,
  .container-secao05 {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    border-radius: 9.43079px;
    border: 2px solid white;
    padding-inline: 1rem;
    padding-block: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;

    #textarea {
      width: 100%;
      min-height: 200px;
      overflow-y: auto;
      max-height: 1000px;
      height: auto;
      padding: 0.5rem;
      justify-content: center;
      border-radius: 0.5rem;
      align-items: center;
      border: none;
      margin-right: 1px;
      margin-bottom: 1rem;
      caret-color: rgb(255, 255, 255);
      font-size: 14px;
      font-weight: 200;
      text-align: start;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(6.77838px);
      font-family: 'Poppins';
      color: #fff;
      white-space: pre-wrap;
      border: none !important;
      outline: none;
    }

    input {
      width: 100%;
      padding: 0.5rem;
      border-radius: 0.5rem;
      align-items: center;
      display: flex;
      border: none;
      margin-right: 1px;
      margin-bottom: 1rem;
      border: none !important;
      caret-color: rgb(255, 255, 255);
      font-size: 14px;
      font-weight: 200;
      text-align: start;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(6.77838px);
      font-family: 'Poppins';
      color: #fff;

      &::placeholder {
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        margin-top: -0.5rem;
        text-align: start;
      }

      &:focus {
        outline: none;
      }
    }
  }

  label {
    text-align: start;
    width: 100%;
    font-size: 17px;
    margin-left: 1%;
    margin-bottom: -0.3rem;
    color: white;
    font-weight: 400;
    font-family: 'Raleway';
  }

  h1 {
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.27);
    width: 100%;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    padding: 0.5rem 0;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Raleway';
    color: #f77f00;
  }

  h3 {
    text-align: center;
    width: 100%;
    font-size: 15px;
    margin-left: 1%;
    margin-bottom: -0.3rem;
    color: white;
    font-weight: 400;
    font-family: 'Raleway';
  }
}

.buttonEdit {
  z-index: 1000;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 50px;
  gap: 10px;
  position: fixed;
  top: 0%;
  font-size: 16px;
  left: 0%;
  color: white;
  background-color: #000;
  backdrop-filter: blur(6.77838px);
  border-radius: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #ffffff;

  &:hover {
    cursor: pointer;
  }
}
.container-edit.open {
  @media (max-width: 1200px) {
    width: 40vw;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease;
    position: absolute;
    z-index: 9999;
    right: 0;
  }

  @media (max-width: 768px) {
    width: 50vw;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease;
    position: absolute;
    z-index: 9999;
    right: 0;
  }

  @media (max-width: 500px) {
    width: 75vw;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease;
    position: absolute;
    z-index: 9999;
    right: 0;
  }
}

@media (max-width: 1200px) {
  .buttonContainer {
    position: fixed;
    z-index: 9999;
    display: flex;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    flex-direction: column;
    left: 5px;

    img {
      color: white;
      background-color: transparent !important;
      width: 25px;
      height: 25px;
      object-fit: cover;
      padding: 5px;
      transition: 1s;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border-radius: 50%;
      background: #f77f00;
      border: none;
      color: white;

      :hover {
        transform: scale(1.1);
        transition: 0.5s;
      }
    }
  }
}

@media (min-width: 1200px) {
  .buttonContainer {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container-edit {
    width: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease;
    position: absolute;
    right: 0;
  }
}
@media (max-width: 1200px) {
  .openEmbaçado {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    background-color: #000000b0;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.8s ease;
  }
}
.none {
  display: none;
}
.PrintContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border: dashed 2px #888990;
  border-radius: 10px;
  margin-top: 2px;
  gap: 1rem;
  padding: 1rem;

  .LabelUpload {
    font-size: 13px;
    font-weight: 100;
    font-family: 'Outfit', sans-serif;
    color: #ffffff;
    text-align: center;
  }
  .UploadButtone {
    color: #ffffff;
    border: solid 2px;

    background: rgba(255, 255, 255, 0.3);
    width: 90%;
    height: 2rem;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      color: #ffffff;
      border: solid 2px;
      background: #f77f00;
      width: 20rem;
      height: 2rem;
      font-size: 14px;
      font-weight: 600;
      font-family: 'Outfit', sans-serif;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
