.rightside-container {
  background-color: #ffffff46;
  width: 100%;
  height: 70vh;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 3.4rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.real-top-container {
  overflow: auto;
  height: 80vh;
  padding-right: 1rem;
  scrollbar-width: thin;
  scrollbar-color: #ffffff #E9E8ED;
  scroll-padding-top: 200px;

}


.real-top-container::-webkit-scrollbar {
  width: 12px;
  padding-left: 1rem;
}

.real-top-container::-webkit-scrollbar-track {
  background-color: #E9E8ED;
  border-radius: 6px;

}

.real-top-container::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border: 2px solid #E9E8ED;
  border-radius: 6px;
}

.real-top-container::-webkit-scrollbar::after {
  content: "";
  display: block;
  margin-left: 10px;
  /* Adiciona margem esquerda à barra de rolagem */
}

.inactive {
  display: none;
}

.question-label-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: #f9f8fa;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 5px;
}

.question-selected-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 5px;
}

.question-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: #f9f8fa;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 5px;

  opacity: 0; // Inicialmente invisível
  animation: fadeIn 2s forwards;
}

.while-typing {
  display: flex;
  align-items: center;
  opacity: 0; // Inicialmente invisível
  animation: loading 2s forwards;
  gap: 5px;

  P {
    font-style: normal;
    color: rgba(35, 26, 80, 0.6509803921568628);
    font-weight: 500;
    font-feature-settings: 'salt' on;
    font-size: 0.8rem;
  }
}

.second-block-right-side-container {
  opacity: 0; // Inicialmente invisível
  animation: fadeIn 2s forwards;
}

.question-label {
  color: #3f3767;
  font-size: 20px;
  font-weight: 500;
  border-right: 0.15em solid #3f3767; // cursor
  white-space: nowrap; // evita quebras de linha
}

.question-normal-label {
  color: #3f3767;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap; // evita quebras de linha
}

.question {
  color: #3f3767;
  font-size: 20px;
  font-weight: 500;
  border-right: 0.15em solid #3f3767; // cursor
  white-space: nowrap; // evita quebras de linha
  overflow: hidden; // assegura que o conteúdo seja escondido até ser revelado
  width: 0; // inicialmente o conteúdo é completamente escondido

  animation: blink 5s,
    // cursor piscando
    typing 6s steps(40, end) forwards 2s; // digitação começa após 1 segundo
}


.label {
  color: #3f3767;
  font-size: 18px;
  font-weight: 500;
}

.search-container {
  padding: 1.2rem;
  border-radius: 2.5rem;
  border: 2px solid #3f3767;
  align-items: center;
  margin-bottom: 3rem;
  display: flex;
}

.search-icon {
  width: 18px;
  height: 18px;
  margin-right: 0.7rem;
}

.search {
  color: #a8a5ba;
  font-size: 18px;
  font-weight: 600;
  border: none;
}

.choice-container {
  background-color: #F9F8FA;
  padding-bottom: 2rem;
}

.choice-container-two {
  &.inactive {
    display: none;
  }
}

.choice-container-two {
  display: flex;
  flex-direction: column;
  background-color: #F6F5F8;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  border-radius: 10px;
}

.choice-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.choice-icon {
  width: 32px;
  height: 32px;
}

.choices {
  display: flex;
  flex-direction: column;
}

.choices-line {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.choice {
  &.clicked {
    border: 2px solid #231a50;
    background-color: #CDDEFF;
  }
}

.choice {
  background-color: #fff;
  margin-top: 1.5rem;
  border-radius: 2rem;
  border: 2px solid #ffffff;
}

.choice:hover {
  border: 2px solid #231a50;
  cursor: pointer;
}

.choice-text {
  color: #3f3767;
  font-size: 16px;
  font-weight: 400;
  padding-left: 1rem;
  padding-right: 1rem;
}

.choice-selected {
  color: #3f3767;
  font-size: 16px;
  font-weight: 500;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.normal-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 2rem;
}

.button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f6f5f8;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: #CDDEFF;
  cursor: pointer;
}

.normal-button {
  &.clicked {
    background-color: #fff;
    border: 2px solid #231a50;
  }
}

.normal-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #E8F4FF;
  border: 2px solid #E8F4FF;
  border-radius: 0.5rem;

}

.normal-button:hover {
  background-color: #fff;
  border: 2px solid #231a50;
  cursor: pointer;
}

.button-text {
  color: #3f3767;
  font-size: 18px;
  font-weight: 700;
}

.button-continue {
  padding-left: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 3rem;
  background-color: #e9e8ed;
  border-radius: 3rem;
}

.button-continue:hover {
  background-color: #231a50;
  cursor: pointer;

  .button-continue-text {
    color: #fff;
  }
}

.button-continue-text {
  color: #bdbaca;
  font-size: 18px;
  font-weight: 700;
}

.button-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: -1.3rem;

  &.active {
    .button-back-icon {
      background-color: #231a50;
    }

    .button-back-text {
      color: #231a50;
    }
  }
}

.button-back:hover {
  cursor: pointer;

  .button-back-icon {
    background-color: #231a50;
  }

  .button-back-text {
    color: #231a50;
  }
}

.button-back-icon {
  background-color: #e9e8ed;
  padding: 0.7rem;
  border-radius: 2rem;
}

.button-back-text {
  color: #e9e8ed;
  font-size: 18px;
  font-weight: 700;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.right-nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.search {
  width: 100%;

  &::placeholder {
    color: #918da8;
    font-weight: 500;
    opacity: 0.9;
  }

  &:focus {
    outline: none;
  }
}

.block-image-left-side {
  display: flex;
}

.tooltip {
  &.style-one {
    transition: 1s;
    display: flex;
    align-items: center;
    white-space: pre;
    background: #fff;
    border-radius: 25px 25px 25px 0;
    padding: 6px 16px;
    font-size: 0.9rem;
    color: #231a50;
    margin: -15px 6px 0;
    display: flex;
    align-items: center;
    gap: 5px;

    p {
      margin: 0px;
    }

    img {
      width: 18px;
      height: 18px;
    }
  }

  &.style-two {
    display: none;
  }
}


.tooltip-two {
  &.style-one {
    display: none;
  }

  &.style-two {
    transition: 1s;
    display: flex;
    align-items: center;
    white-space: pre;
    background: #fff;
    border-radius: 25px 25px 25px 0;
    padding: 6px 16px;
    font-size: 0.9rem;
    color: #231a50;
    margin: -15px 6px 0;
    display: flex;
    align-items: center;
    gap: 5px;

    p {
      margin: 0px;
    }

    img {
      width: 18px;
      height: 18px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes typing {
  20% {
    width: 0;
    border-right-color: #3f3767; // mantém o cursor visível até 20% da animação
  }

  21% {
    border-right-color: transparent; // faz o cursor desaparecer
  }

  100% {
    width: 100%;
    border-right-color: transparent; // garante que o cursor permaneça oculto após a animação
  }
}

@keyframes blink {

  0%,
  100% {
    border-color: transparent;
  }
}

// TAB MENU

ul {
  list-style-type: none;
  display: flex;
  color: #3f3767;
  font-size: 16px;
  font-weight: 700;
  // justify-content: space-between;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px;
}

li.active {

  position: relative;
}

li.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}