.left-side-container {
  padding-left: 31px;
  padding-top: 33px;
}

.progressBar-container {
  display: flex;
  align-items: center;
  margin-top: 70px;
  gap: 15px;
}

.progress {
  background: #b2d1ff;
  box-shadow: 0 2px 4px rgba(81, 69, 135, 0.24);
  border-radius: 50px;
  height: 100%;
  width: 19px;
  position: relative;
  overflow: hidden;
  height: 697px;
}

.icons-container {
  display: flex;
  flex-direction: column;
  gap: 93px;
}
