.left-side-container {
  padding-left: 4rem;
  width: 25vw;
  height: 100%;
  top: 10;
}



.progressBar-container {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
 
} 

.progress {
width: 100%;

  &.style-one {
    background: #ffffff48;
    background: linear-gradient(180deg,
        #ffffff48 0%,
        #ffffff48 88%,
        #F77F00 90%,
      );
    box-shadow: 0 2px 4px rgba(81, 69, 135, 0.24);
    border-radius: 50px;
    height: 100%;
    width: 8px;
    position: relative;
    overflow: hidden;
  height: 83%;
    opacity: 1;
  
  
  }

  &.style-two {
    transition: background 2s ease-in-out;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg,
        #ffffff48 0%,
        #ffffff48 72%,
        #F77F00 74%, );
    box-shadow: 0 2px 4px rgba(81, 69, 135, 0.24);
    border-radius: 50px;
    height: 100%;
    width: 8px;
    position: relative;
    overflow: hidden;
  height: 83%;
  
  }

  &.style-tree {
    transition: background 2s ease-in-out;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg,
        #ffffff48 0%,
        #ffffff48 44%,
        #F77F00 46%, );
    box-shadow: 0 2px 4px rgba(81, 69, 135, 0.24);
    border-radius: 50px;
    height: 100%;
    width: 8px;
    position: relative;
    overflow: hidden;
  height: 83%;
  }

  &.style-four {
    transition: background 2s ease-in-out;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg,
        #ffffff48 0%,
        #ffffff48 16%,
        #F77F00 18%, );
    box-shadow: 0 2px 4px rgba(81, 69, 135, 0.24);
    border-radius: 50px;
    height: 100%;
    width: 8px;
    position: relative;
    overflow: hidden;
  height: 83%;
  }

  &.style-five {
    transition: background 2s ease-in-out;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg,
        #F77F00 0%,
        #F77F00 16%,
        #F77F00 18%, );
    box-shadow: 0 2px 4px rgba(81, 69, 135, 0.24);
    border-radius: 50px;
    height: 100%;
    width: 8px;
    position: relative;
    overflow: hidden;
   height: 83%;
  
  }

  // &.style-five {
  //   transition: background 2s ease-in-out;
  //   background: rgb(255, 255, 255);
  //   background: linear-gradient(180deg,
  //       rgba(255, 255, 255, 1) 0%,
  //       rgba(247, 250, 255, 1) 60%,
  //       rgba(178, 209, 255, 1) 64%);
  //   box-shadow: 0 2px 4px rgba(81, 69, 135, 0.24);
  //   border-radius: 50px;
  //   height: 100%;
  //   width: 19px;
  //   position: relative;
  //   overflow: hidden;
  //   height: 44rem;
  // }

  // &.style-six {
  //   transition: background 2s ease-in-out;
  //   background: rgb(255, 255, 255);
  //   background: linear-gradient(180deg,
  //       rgba(255, 255, 255, 1) 0%,
  //       rgba(247, 250, 255, 1) 74%,
  //       rgba(178, 209, 255, 1) 78%);
  //   box-shadow: 0 2px 4px rgba(81, 69, 135, 0.24);
  //   border-radius: 50px;
  //   height: 100%;
  //   width: 19px;
  //   position: relative;
  //   overflow: hidden;
  //   height: 44rem;
  // }

  // &.style-seven {
  //   transition: background 2s ease-in-out;
  //   background: rgb(255, 255, 255);
  //   background: linear-gradient(180deg,
  //       rgba(255, 255, 255, 1) 0%,
  //       rgba(247, 250, 255, 1) 64%,
  //       rgb(247, 247, 247) 68%);
  //   box-shadow: 0 2px 4px rgba(81, 69, 135, 0.24);
  //   border-radius: 50px;
  //   height: 100%;
  //   width: 19px;
  //   position: relative;
  //   overflow: hidden;
  //   height: 44rem;
  // }
}

.icons-container {
 height: 90%;
  display: flex;
  flex-direction: column;
  gap: 9.8rem;
  margin-left: -2.8rem;
 
  z-index: 998;
 
 
  
}

.iconProgressOne {
  height: 64px;
  width: 64px;
  background-color: #ffffff70;
  padding: 0.75rem;
  border-radius: 2rem;
  margin-top: -0.4rem;
  margin-bottom: -0.4rem;


  &.style-one {
    background-color: #F77F00;
  }

  &.style-two {
    background-color: #F77F00;
  }

  &.style-tree {
    background-color: #F77F00;
  }

  &.style-four {
    background-color: #F77F00;
  }
}

.iconProgressTwo {
  height: 64px;
  width: 64px;
  background-color: #ffffff70;
  padding: 0.75rem;
  border-radius: 2rem;
  margin-top: -0.4rem;
  margin-bottom: -0.4rem;

  &.style-tree {
    background-color: #F77F00;
  }

  &.style-four {
    background-color: #F77F00;
  }
}

.iconProgressTree {
  height: 64px;
  width: 64px;
  background-color: #ffffff70;
  padding: 0.75rem;
  border-radius: 2rem;
  margin-top: -0.4rem;
  margin-bottom: -0.4rem;


  &.style-four {
    background-color: #F77F00;
  }
}

.iconProgressFour {
  height: 64px;
  width: 64px;
  background-color: #ffffff70;
  padding: 0.75rem;
  border-radius: 2rem;
  margin-top: -0.7rem;
  margin-bottom: -0.9rem;

  &.style-five {
    background-color: #F77F00;
  }
}
.block-image-left-side{
  display: flex !important;
  flex-direction: row !important;
 
  width: 100%;

}

.progressRocket {

  &.style-one {
    position: absolute;
    margin-left: -1.4rem;
    margin-top: -7rem;
  }

  &.style-two {
    position: absolute;
    margin-left: -1.4rem;
    margin-top: -11rem;
  }

  &.style-tree {
    position: absolute;
    margin-left: -1.4rem;
    margin-top: -22.5rem;
  }

  &.style-four {
    position: absolute;
    margin-left: -1.4rem;
    margin-top: -36.5rem;
  }

  &.style-five {
    position: absolute;
    margin-left: -1.4rem;
    margin-top: -40.5rem;
  }
}

//

.text-icon{
  margin-left: 1rem;
 color:#FFFFFF;
 font-family: Epilogue;
font-size: 20px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: right;

}


@media (max-width: 1440px) {

  .left-side-container {
    padding-left: 0rem;
    width: 95vw;
    height: 10%;
   display: flex !important;
      margin: 0 auto ;
      background-color: red;
     .text-icon{
     display: none;
  }
    
  .progressBar-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #FFFFFF;
    gap: 10px;
   
  } 


.icons-container {
 
  height: 100%;
  width: 80%;
   display: flex;
   flex-direction: row-reverse;
   gap: 11rem;
   margin-left: 0rem;
   z-index: 998;
  
   margin: 0 auto;
   padding: 0;

 
 


  
   
 }


  }
  
  
 
}